<%- include('partials/header'); -%>
<h1>Companies</h1><br>
<button onclick="document.getElementById('id01').style.display='block'" style="float: right;">Add your Experience</button>
<div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'"
  class="close" title="Close Modal">&times;</span>
  <form action="/addCompany" method="post" enctype="multipart/form-data">
    <label for="compu">Select your Company</label>
    <select name="compu" >
        <option selected disabled hidden value="">Choose here</option>
        <% reports.forEach((topic)=>{ %>
            <option ><%= topic.company %></option>
        <% }); %>
    </select>
    <label for="company">If your company's name wasn't present above,write it here</label>
    <input type="text" name="company" />
    <label for="imag">Company Logo</label>
    <input type="file" name="imag" />
    <button>Submit</button>
</form>
</div>
<h2>   
        </h2>
        <ul >

            <% if(reports.length > 0){ %>
<div>
    <% reports.forEach((image)=>{ %>
<div  class="boxed">
<div   class="main-content" >
<img src="data:image/<%=image.imag.contentType%>;base64,
<%=image.imag.data.toString('base64')%>" alt="Headshot photo" ><a href="/interviewExperience/<%=image.company%>" class="list">
<h3><%= image.company %></h3></a>
<br>
</div>
</div>
<br>
<% }) %>
</div>
<% }else{ %>
    <P>No experiences to share right now,Tap above to add your experience</P>
<%  } %>  
</ul>


    <br>
    
    
