<%- include('partials/header'); -%>
<h1>Experiences</h1><br><br>
<div>
<div >
    <% items.forEach((image)=>{ %>
    <div  class="box">
        <div   class="main-content1" >
        <img src="data:image/<%=image.img.contentType%>;base64,
        <%=image.img.data.toString('base64')%>" alt="Headshot photo" ><a  class="list1">
        <h2><%= image.name %>,<%= image.year %> Student at <%= image.college %></h2><br>
        <p><span id="dots">Sharing his experience with <%= image.company.company %> company...</span></p>
        <a href="/interviewExperience/<%= image.company.company %>/<%= image.name %>"><button >Read more</button></a>
       </a>
        <br>
        </div>
        </div>
        <br><br>
</div>
<% }) %>
</div>
    <h8>   </h8>
    <h9>   </h9>

